<mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>Kaspper</span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <!-- <button mat-button>Sobre</button>
        <button mat-button>Contact</button> -->
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <!-- <mat-icon>dialpad</mat-icon>
            <span>Redial</span> -->
        </button>
        <button mat-menu-item disabled>
            <!-- <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span> -->
        </button>
        <button mat-menu-item>
            <!-- <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span> -->
        </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<br>
<div class="example-container">
    <mat-form-field>
        <input #cepBox id="cep-box" (input)="searchCep(cepBox.value)"  matInput placeholder="Cep">
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="user.logradouro" matInput placeholder="Rua">
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="user.numero" matInput placeholder="Numero">
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="user.bairro" matInput placeholder="Bairro">
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="user.localidade" matInput placeholder="Cidade">
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="user.uf" matInput placeholder="Estado">
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="user.cpf" matInput placeholder="CPF">
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="user.telefone" matInput placeholder="Telefone">
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="user.email" matInput placeholder="Email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-button color="primary">Primary</button>